extends layouts/app 

block seo 
  title About - Facebook Clone
  meta(property='og:title', content='About - Facebook Clone')
  meta(name='description', content='About - Facebook Clone')
  meta(property='og:description', content='About - Facebook Clone')
  meta(property='og:image', content='https://codingphase.com/img/websitethumb.png')
  meta(name='twitter:card', content='summary_large_image')
  meta(property='og:site_name', content='FBCLone LLC')
  meta(name='twitter:image:alt', content='About - Facebook Clone')
  meta(name='twitter:site', content='@codingphase')
  meta(property='og:url', content='https://codingphase.com')
  link(rel="canonical" href="/about")

block content
  #about-page
    h1 About Page
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed arcu tristique, lobortis quam vel, iaculis nunc. Sed tincidunt ut enim ut vestibulum. Sed a semper justo. Proin sed orci vel tortor lobortis ornare. Sed venenatis eros at volutpat lacinia. In tempor non tellus at ullamcorper. Nunc in venenatis purus. Donec placerat, neque in venenatis vulputate, lorem eros congue dui, ac ornare justo risus eget dui.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed arcu tristique, lobortis quam vel, iaculis nunc. Sed tincidunt ut enim ut vestibulum. Sed a semper justo. Proin sed orci vel tortor lobortis ornare. Sed venenatis eros at volutpat lacinia. In tempor non tellus at ullamcorper. Nunc in venenatis purus. Donec placerat, neque in venenatis vulputate, lorem eros congue dui, ac ornare justo risus eget dui.
  script(src='/js/dist/main.js')