doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='description', content='Free Web Tutorials')
    meta(name='keywords', content='HTML,CSS,XML,JAVASCRIPT')
    meta(name='author', content='David Norris')
    meta(name='viewport', content='width=device-width, initial scale=1.0')
    title Social Media
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/styles.css')
  body
    header
      .logo-area
        a(href='index.html') Logo
      .menu
        ul
          li
            a(href='chloe.html')
              | Chloe
          li
            a(href='home.html')
              | Home
      .icon-links
        ul.quick-options
          li
            a(href='chloe.html')
              i.fa.fa-users(aria-hidden='true')
          li
            a(href='home.html')
              i.fa.fa-comments(aria-hidden='true')
          li
            a(href='home.html')
              i.fa.fa-bell(aria-hidden='true')
        .privacy
          i.fa.fa-lock(aria-hidden='true')
      .search-area
        ul
          li
            i.fa.fa-search(aria-hidden='true')
          li
            input(type='text', name='search')
          li
            i.fa.fa-times(aria-hidden='true')
    section#top-area
      .profile-info
        .user-image
          img(src='https://randomuser.me/api/portraits/women/44.jpg', alt='Picture of user')
        .user-details
          h3 Jane Moretz
          a(href='update.html') Update Info
          a(href='view.html') View Activity
    section#content-area
      .side-column
        .widget-box.intro
          .head
            .widget-icon-container
              .widget-icon
                i.fa.fa-globe(aria-hidden='true')
            .widget-title Intro
          .body
            h6
            p
            p
            a(href='#') Update Info
        .widget-box.photos
          .head
            .widget-icon-container
              .widget-icon
                i.fa.fa-globe(aria-hidden='true')
            .widget-title Photos
          .body
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
        .widget-box.friends
          .head
            .widget-icon-container
              .widget-icon
                i.fa.fa-globe(aria-hidden='true')
            .widget-title Friends
          .body
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
            div(style='height: 110px; width: 33.33%; display: inline-block; float: left; background: url(https://cdn.pixabay.com/photo/2018/07/09/16/59/clouds-3526558_960_720.jpg) no-repeat center center;\
            -webkit-background-size: cover;\
            -moz-background-size: cover;\
            -o-background-size: cover;\
            background-size: cover;')
      .main-area
        .widget-box.submenu
          ul
            li
              i.fa.fa-beer(aria-hidden='true')
              span TIMELINE
            li
              i.fa.fa-address-card(aria-hidden='true')
              span ABOUT
            li
              i.fa.fa-users(aria-hidden='true')
              span FRIENDS
            li
              i.fa.fa-barcode(aria-hidden='true')
              span PHOTOS
            li
              i.fa.fa-book(aria-hidden='true')
        .widget-box.post
          .head
            div(class:='', "user-image-container"='')
              .user-img
            .post-info
              span.user-info
                a(href='#') Chloe Grace Moretz
                |  shared a 
                a(href='#') link
                | .
              span.post-date Feb 19 at 10:35am via Instagram
          .body
            .post-img
              img(src='/img/meme.jpg', alt='Picture of fat kid')
            .top-icons
              i.fa.fa-thumbs-up(aria-hidden='true')
              i.fa.fa-share(aria-hidden='true')
              span
                i.fa.fa-comment(aria-hidden='true')
                | 1
            .post-comments
              .user-img
                img(src='https://s3.amazonaws.com/uifaces/faces/twitter/abinav_t/128.jpg', alt='Picture of user')
              .user-comment
                .user-info
                  a(href='#') John Doe
                  span.time
                    | 11:09 AM
                p Herro funny meme good stuff
            .post-form
              .user-img
                img(src='https://s3.amazonaws.com/uifaces/faces/twitter/abinav_t/128.jpg', alt='Picture of user')
              .form-info
                input(type='text', placeholder='write a comment', name='', value='')
                .icons
                  i.fa.fa-camera(aria-hidden='true')
                  i.fa.fa-smile(aria-hidden='true')
